
<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<!-- <servlet>
		<servlet-name>SelectAgriculturesMachinery</servlet-name>
		<servlet-class>com.cn.bsnt.servlet.SelectAgriculturesMachinery</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SelectAgriculturesUseArticles</servlet-name>
		<servlet-class>com.cn.bsnt.servlet.SelectAgriculturesUseArticles</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SelectAgriculturesUseTools</servlet-name>
		<servlet-class>com.cn.bsnt.servlet.SelectAgriculturesUseTools</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SelectAgriculturesUseTricycle</servlet-name>
		<servlet-class>com.cn.bsnt.servlet.SelectAgriculturesUseTricycle</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SelectAutoAppliance</servlet-name>
		<servlet-class>com.cn.bsnt.servlet.SelectAutoAppliance</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SelectBoxSpringSuite</servlet-name>
		<servlet-class>com.cn.bsnt.servlet.SelectBoxSpringSuite</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SelectBrandEndTable</servlet-name>
		<servlet-class>com.cn.bsnt.servlet.SelectBrandEndTable</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SelectCamera</servlet-name>
		<servlet-class>com.cn.bsnt.servlet.SelectCamera</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SelectCameraMonitored</servlet-name>
		<servlet-class>com.cn.bsnt.servlet.SelectCameraMonitored</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SelectClangMovie</servlet-name>
		<servlet-class>com.cn.bsnt.servlet.SelectClangMovie</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SelectCleaning</servlet-name>
		<servlet-class>com.cn.bsnt.servlet.SelectCleaning</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SelectComputer</servlet-name>
		<servlet-class>com.cn.bsnt.servlet.SelectComputer</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SelectCostume</servlet-name>
		<servlet-class>com.cn.bsnt.servlet.SelectCostume</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SelectDecorateBuildingmaterials</servlet-name>
		<servlet-class>com.cn.bsnt.servlet.SelectDecorateBuildingmaterials</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SelectDigiyalAccessories</servlet-name>
		<servlet-class>com.cn.bsnt.servlet.SelectDigiyalAccessories</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SelectDoorWindows</servlet-name>
		<servlet-class>com.cn.bsnt.servlet.SelectDoorWindows</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SelectEarlyEductionEnlightenment</servlet-name>
		<servlet-class>com.cn.bsnt.servlet.SelectEarlyEductionEnlightenment</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SelectExerciseShose</servlet-name>
		<servlet-class>com.cn.bsnt.servlet.SelectExerciseShose</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SelectFitnessEquipment</servlet-name>
		<servlet-class>com.cn.bsnt.servlet.SelectFitnessEquipment</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SelectGrainOilTaste</servlet-name>
		<servlet-class>com.cn.bsnt.servlet.SelectGrainOilTaste</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SelectHomeFurnishingArticles</servlet-name>
		<servlet-class>com.cn.bsnt.servlet.SelectHomeFurnishingArticles</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SelectHomeTextiles</servlet-name>
		<servlet-class>com.cn.bsnt.servlet.SelectHomeTextiles</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SelectIcebox</servlet-name>
		<servlet-class>com.cn.bsnt.servlet.SelectIcebox</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SelectKitchen</servlet-name>
		<servlet-class>com.cn.bsnt.servlet.SelectKitchen</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SelectLcdTv</servlet-name>
		<servlet-class>com.cn.bsnt.servlet.SelectLcdTv</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SelectMedicacare</servlet-name>
		<servlet-class>com.cn.bsnt.servlet.SelectMedicacare</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SelectMicrowaveOven</servlet-name>
		<servlet-class>com.cn.bsnt.servlet.SelectMicrowaveOven</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SelectMilkDrink</servlet-name>
		<servlet-class>com.cn.bsnt.servlet.SelectMilkDrink</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SelectMobilePhone</servlet-name>
		<servlet-class>com.cn.bsnt.servlet.SelectMobilePhone</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SelectMotherBabyFood</servlet-name>
		<servlet-class>com.cn.bsnt.servlet.SelectMotherBabyFood</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SelectMotherBabyProduct</servlet-name>
		<servlet-class>com.cn.bsnt.servlet.SelectMotherBabyProduct</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SelectMotherBabyProduct</servlet-name>
		<servlet-class>com.cn.bsnt.servlet.SelectMotherBabyProduct</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SelectNourishingHealth</servlet-name>
		<servlet-class>com.cn.bsnt.servlet.SelectNourishingHealth</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SelectOfficeStationary</servlet-name>
		<servlet-class>com.cn.bsnt.servlet.SelectOfficeStationary</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SelectOtherElectricAppliance</servlet-name>
		<servlet-class>com.cn.bsnt.servlet.SelectOtherElectricAppliance</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SelectWarsher</servlet-name>
		<servlet-class>com.cn.bsnt.servlet.SelectWarsher</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SelectWaterFountain</servlet-name>
		<servlet-class>com.cn.bsnt.servlet.SelectWaterFountain</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SelectWine</servlet-name>
		<servlet-class>com.cn.bsnt.servlet.SelectWine</servlet-class>
	</servlet>
		<servlet>
		<servlet-name>SelectTea</servlet-name>
		<servlet-class>com.cn.bsnt.servlet.SelectTea</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SelectTeaWine</servlet-name>
		<servlet-class>com.cn.bsnt.servlet.SelectTeaWine</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SelectVideoPlayOrgan</servlet-name>
		<servlet-class>com.cn.bsnt.servlet.SelectVideoPlayOrgan</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SelectSmartDevice</servlet-name>
		<servlet-class>com.cn.bsnt.servlet.SelectSmartDevice</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SelectSnack</servlet-name>
		<servlet-class>com.cn.bsnt.servlet.SelectSnack</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SelectSportGoods</servlet-name>
		<servlet-class>com.cn.bsnt.servlet.SelectSportGoods</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SelectOutdoorGoods</servlet-name>
		<servlet-class>com.cn.bsnt.servlet.SelectOutdoorGoods</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SelectRelaxationShoes</servlet-name>
		<servlet-class>com.cn.bsnt.servlet.SelectRelaxationShoes</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SelectRiceCooker</servlet-name>
		<servlet-class>com.cn.bsnt.servlet.SelectRiceCooker</servlet-class>
	</servlet> -->
	<!-- 酒品佳酿图片 -->
     <servlet>
		<servlet-name>goodsWine</servlet-name>
		<servlet-class>com.cn.bsnt.goodsWine.GoodsWineAction</servlet-class>
	</servlet>
	<!-- 饮水机图片 -->
	 <servlet>
		<servlet-name>goodsWaterFountain</servlet-name>
		<servlet-class>com.cn.bsnt.goodsWaterFountain.GoodsWaterFountainAction</servlet-class>
	</servlet>
		<!-- 洗衣机图片-->
	<servlet>
		<servlet-name>goodsWasher</servlet-name>
		<servlet-class>com.cn.bsnt.goodsWasher.GoodsWasherAction</servlet-class>
	 </servlet> 
	<!-- 视频播放图片 -->
	<servlet>
		<servlet-name>goodsVideoPlayOrgan</servlet-name>
		<servlet-class>com.cn.bsnt.goodsVideoPlayOrgan.GoodsVideoPlayOrganAction</servlet-class>
	</servlet>
	 <!-- 电视/ 图片 -->
	<servlet>
		<servlet-name>goodsTv</servlet-name>
		<servlet-class>com.cn.bsnt.goodsTv.GoodsTvAction</servlet-class>
	</servlet>
	 <!-- 茶具酒具图片 -->
	<servlet>
		<servlet-name>goodsTeaWine</servlet-name>
		<servlet-class>com.cn.bsnt.goodsTeaWine.GoodsTeaWineAction</servlet-class>
	</servlet>
	 <!-- 茗茶图片 -->
	<servlet>
		<servlet-name>goodsTea</servlet-name>
		<servlet-class>com.cn.bsnt.goodsTea.GoodsTeaAction</servlet-class>
	</servlet>
	 <!-- 体育用品/图片 -->
	<servlet>
		<servlet-name>goodsSportGoods</servlet-name>
		<servlet-class>com.cn.bsnt.goodsSportGoods.GoodsSportGoodsAction</servlet-class>
	</servlet>
	
	 <!-- 零食、图片 -->
	<servlet>
		<servlet-name>goodsSnack</servlet-name>
		<servlet-class>com.cn.bsnt.goodsSnack.GoodsSnackAction</servlet-class>
	</servlet>
	 <!-- 智能设备/图片 -->
	<servlet>
		<servlet-name>goodsSmartDevice</servlet-name>
		<servlet-class>com.cn.bsnt.goodsSmartDevice.GoodsSmartDeviceAction</servlet-class>
	</servlet>
	 <!--鞋靴   参数   及图片 -->
	<servlet>
		<servlet-name>goodsShoes</servlet-name>
		<servlet-class>com.cn.bsnt.goodsShoes.GoodsShoesAction</servlet-class>
	</servlet>
		 <!--电饭煲   参数   及图片 -->
	<servlet>
		<servlet-name>goodsRiceCooker</servlet-name>
		<servlet-class>com.cn.bsnt.goodsRiceCooker.GoodsRiceCookerAction</servlet-class>
	</servlet>
	 <!--户外用品   参数   及图片 -->
	<servlet>
		<servlet-name>goodsOutdoorGoods</servlet-name>
		<servlet-class>com.cn.bsnt.goodsOutdoorGoods.GoodsOutdoorGoodsAction</servlet-class>
	</servlet>
	 <!--其他电器   参数   及图片 -->
	<servlet>
		<servlet-name>goodsOtherElectricAppliance</servlet-name>
		<servlet-class>com.cn.bsnt.goodsOtherElectricAppliance.GoodsOtherElectricApplianceAction</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GoodsOfficeStationaryAction</servlet-name>
		<servlet-class>com.cn.bsnt.goodsOfficeStationary.GoodsOfficeStationaryAction</servlet-class>
	</servlet>
	
	
	
	
	<servlet>
    <servlet-name>GoodsAgriculturesMachineryAction</servlet-name>
    <servlet-class>com.cn.bsnt.goodsAgriculturesMachinery.GoodsAgriculturesMachineryAction</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>GoodsAgriculturesUseArticlesAction</servlet-name>
    <servlet-class>com.cn.bsnt.goodsAgriculturesUseArticles.GoodsAgriculturesUseArticlesAction</servlet-class>
   </servlet>
   <servlet>
    <servlet-name>GoodsAgriculturesUseToolsAction</servlet-name>
    <servlet-class>com.cn.bsnt.goodsAgriculturesUseTools.GoodsAgriculturesUseToolsAction</servlet-class>
   </servlet>
   <servlet>
    <servlet-name>GoodsAgriculturesUseTricycleAction</servlet-name>
    <servlet-class>com.cn.bsnt.goodsAgriculturesUseTricycle.GoodsAgriculturesUseTricycleAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GoodsAutoApplianceAction</servlet-name>
    <servlet-class>com.cn.bsnt.goodsAutoAppliance.GoodsAutoApplianceAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GoodsBoxSpringSuiteAction</servlet-name>
    <servlet-class>com.cn.bsnt.goodsBoxSpringSuite.GoodsBoxSpringSuiteAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GoodsBrandEndTableAction</servlet-name>
    <servlet-class>com.cn.bsnt.goodsBrandEndTable.GoodsBrandEndTableAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GoodsCameraAction</servlet-name>
    <servlet-class>com.cn.bsnt.goodsCamera.GoodsCameraAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GoodsCameraMonitoredAction</servlet-name>
    <servlet-class>com.cn.bsnt.goodsCameraMonitored.GoodsCameraMonitoredAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GoodsClangMovieAction</servlet-name>
    <servlet-class>com.cn.bsnt.goodsClangMovie.GoodsClangMovieAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GoodsCleaningAction</servlet-name>
    <servlet-class>com.cn.bsnt.goodsCleaning.GoodsCleaningAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GoodsComputerAction</servlet-name>
    <servlet-class>com.cn.bsnt.goodsComputer.GoodsComputerAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GoodsCostumeAction</servlet-name>
    <servlet-class>com.cn.bsnt.goodsCostume.GoodsCostumeAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GoodsDecorateBuildingmaterialsAction</servlet-name>
    <servlet-class>com.cn.bsnt.goodsDecorateBuildingmaterials.GoodsDecorateBuildingmaterialsAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GoodsDigiyalAccessoriesAction</servlet-name>
    <servlet-class>com.cn.bsnt.goodsDigiyalAccessories.GoodsDigiyalAccessoriesAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GoodsDoorWindowsAction</servlet-name>
    <servlet-class>com.cn.bsnt.goodsDoorWindows.GoodsDoorWindowsAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GoodsEarlyEducationEnlightenment</servlet-name>
    <servlet-class>com.cn.bsnt.goodsEarlyEducationEnlightenment.GoodsEarlyEducationEnlightenmentAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GoodsFitnessEquipmentAction</servlet-name>
    <servlet-class>com.cn.bsnt.goodsFitnessEquipment.GoodsFitnessEquipmentAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GoodsGrainOilTasteAction</servlet-name>
    <servlet-class>com.cn.bsnt.goodsGrainOilTaste.GoodsGrainOilTasteAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GoodsHomeFurnishingArticlesAction</servlet-name>
    <servlet-class>com.cn.bsnt.goodsHomeFurnishingArticles.GoodsHomeFurnishingArticlesAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GoodsHomeTextilesAction</servlet-name>
    <servlet-class>com.cn.bsnt.goodsHomeTextiles.GoodsHomeTextilesAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GoodsIceboxAction</servlet-name>
    <servlet-class>com.cn.bsnt.goodsIcebox.GoodsIceboxAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GoodsKitchenAction</servlet-name>
    <servlet-class>com.cn.bsnt.goodsKitchen.GoodsKitchenAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GoodsLuggageAction</servlet-name>
    <servlet-class>com.cn.bsnt.goodsLuggage.GoodsLuggageAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GoodsMedicaCareAction</servlet-name>
    <servlet-class>com.cn.bsnt.goodsMedicaCare.GoodsMedicaCareAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GoodsMicrowaveOven</servlet-name>
    <servlet-class>com.cn.bsnt.goodsMicrowaveOven.GoodsMicrowaveOven</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GoodsMilkDrink</servlet-name>
    <servlet-class>com.cn.bsnt.goodsMilkDrink.GoodsMilkDrink</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GoodsOfficeStationaryAction</servlet-name>
    <servlet-class>com.cn.bsnt.goodsOfficeStationary.GoodsOfficeStationaryAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GoodsMobilePhoneAction</servlet-name>
    <servlet-class>com.cn.bsnt.goodsMobilePhone.GoodsMobilePhoneAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GoodsMotherBabyFoodAction</servlet-name>
    <servlet-class>com.cn.bsnt.goodsMotherBabyFood.GoodsMotherBabyFoodAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GoodsMotherBabyProductAction</servlet-name>
    <servlet-class>com.cn.bsnt.goodsMotherBabyProduct.GoodsMotherBabyProductAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GoodsNourishingHealthAction</servlet-name>
    <servlet-class>com.cn.bsnt.goodsNourishingHealth.GoodsNourishingHealthAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GoodsSearch</servlet-name>
    <servlet-class>com.cn.bsnt.search.GoodsSearch</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GoodsReferCan</servlet-name>
    <servlet-class>com.cn.bsnt.goodsQueryCan.GoodsReferCan</servlet-class>
  </servlet>
  

	
	
	
	
	<!-- <servlet-mapping>
		<servlet-name>SelectAgriculturesMachinery</servlet-name>
		<url-pattern>/allAgriculturesMachinery.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SelectAgriculturesUseArticles</servlet-name>
		<url-pattern>/allAgriculturesUseArticles.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SelectAgriculturesUseTools</servlet-name>
		<url-pattern>/allAgriculturesUseTools.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SelectAgriculturesUseTricycle</servlet-name>
		<url-pattern>/allAgriculturesUseTricycle.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SelectAutoAppliance</servlet-name>
		<url-pattern>/allAutoAppliance.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SelectBoxSpringSuite</servlet-name>
		<url-pattern>/allBoxSpringSuite.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SelectBrandEndTable</servlet-name>
		<url-pattern>/allBrandEndTable.do</url-pattern>
	</servlet-mapping>	
	<servlet-mapping>
		<servlet-name>SelectCamera</servlet-name>
		<url-pattern>/allCamera.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SelectCameraMonitored</servlet-name>
		<url-pattern>/allCameraMonitored.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SelectClangMovie</servlet-name>
		<url-pattern>/SelectClangMovie</url-pattern>
	</servlet-mapping>
	allClangMovie.do
	<servlet-mapping>
		<servlet-name>SelectCleaning</servlet-name>
		<url-pattern>/allCleaning.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SelectComputer</servlet-name>
		<url-pattern>/allComputer.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SelectCostume</servlet-name>
		<url-pattern>/allCostume.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SelectDecorateBuildingmaterials</servlet-name>
		<url-pattern>/allDecorateBuildingmaterials.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SelectDigiyalAccessories</servlet-name>
		<url-pattern>/allDigiyalAccessories.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SelectDoorWindows</servlet-name>
		<url-pattern>/allDoorWindows.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SelectEarlyEductionEnlightenment</servlet-name>
		<url-pattern>/allEarlyEductionEnlightenment.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SelectExerciseShose</servlet-name>
		<url-pattern>/allEarlyExerciseShose.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SelectFitnessEquipment</servlet-name>
		<url-pattern>/allFitnessEquipment.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SelectGrainOilTaste</servlet-name>
		<url-pattern>/allGrainOilTaste.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SelectHomeFurnishingArticles</servlet-name>
		<url-pattern>/allHomeFurnishingArticles.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SelectHomeTextiles</servlet-name>
		<url-pattern>/allHomeTextiles.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SelectIcebox</servlet-name>
		<url-pattern>/allIcebox.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SelectKitchen</servlet-name>
		<url-pattern>/allKitchen.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SelectLcdTv</servlet-name>
		<url-pattern>/allLcdTv.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SelectMedicacare</servlet-name>
		<url-pattern>/allMedicacare.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SelectMicrowaveOven</servlet-name>
		<url-pattern>/allMicrowaveOven.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SelectMilkDrink</servlet-name>
		<url-pattern>/allMilkDrink.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SelectMobilePhone</servlet-name>
		<url-pattern>/allMobilePhone.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SelectMotherBabyFood</servlet-name>
		<url-pattern>/allMotherBabyFood.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SelectMotherBabyProduct</servlet-name>
		<url-pattern>/allMotherBabyProduct.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SelectNourishingHealth</servlet-name>
		<url-pattern>/allNourishingHealth.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SelectOfficeStationary</servlet-name>
		<url-pattern>/allOfficeStationary.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SelectOtherElectricAppliance</servlet-name>
		<url-pattern>/allOtherElectricAppliance.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SelectOutdoorGoods</servlet-name>
		<url-pattern>/allOutdoorGoods.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SelectRelaxationShoes</servlet-name>
		<url-pattern>/allRelaxationShoes.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SelectRiceCooker</servlet-name>
		<url-pattern>/allRiceCooker.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SelectSmartDevice</servlet-name>
		<url-pattern>/allSmartDevice.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SelectSnack</servlet-name>
		<url-pattern>/allSnack.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SelectSportGoods</servlet-name>
		<url-pattern>/allSportGoods.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SelectTea</servlet-name>
		<url-pattern>/allTea.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SelectTeaWine</servlet-name>
		<url-pattern>/allTeaWine.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SelectVideoPlayOrgan</servlet-name>
		<url-pattern>/allVideoPlayOrgan.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SelectWarsher</servlet-name>
		<url-pattern>/allWarsher.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SelectWaterFountain</servlet-name>
		<url-pattern>/allWaterFountain.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SelectWine</servlet-name>
		<url-pattern>/allWine.do</url-pattern>
	</servlet-mapping> -->
	
<!-- 酒品佳酿图片 -->
    
	<servlet-mapping>
		<servlet-name>goodsWine</servlet-name>
		<url-pattern>/goodsWine</url-pattern>
	</servlet-mapping>	
 
	<!-- 饮水机图片 -->
	
	<servlet-mapping>
		<servlet-name>goodsWaterFountain</servlet-name>
		<url-pattern>/goodsWaterFountain</url-pattern>
	</servlet-mapping>	
	
	<!-- 洗衣机图片-->
	
	<servlet-mapping>
		<servlet-name>goodsWasher</servlet-name>
		<url-pattern>/goodsWasher</url-pattern>
	</servlet-mapping>	
	
	 <!-- 视频播放图片 -->
	
	<servlet-mapping>
		<servlet-name>goodsVideoPlayOrgan</servlet-name>
		<url-pattern>/goodsVideoPlayOrgan</url-pattern>
	</servlet-mapping>	

	 <!-- 电视/ 图片 -->
	
	<servlet-mapping>
		<servlet-name>goodsTv</servlet-name>
		<url-pattern>/goodsTv</url-pattern>
	</servlet-mapping>	
	
	 <!-- 茶具酒具图片 -->
	
	<servlet-mapping>
		<servlet-name>goodsTeaWine</servlet-name>
		<url-pattern>/goodsTeaWine</url-pattern>
	</servlet-mapping>
	
	 <!-- 茗茶图片 -->
	
	<servlet-mapping>
		<servlet-name>goodsTea</servlet-name>
		<url-pattern>/goodsTea</url-pattern>
	</servlet-mapping>
	
	 <!-- 体育用品/图片 -->
	<servlet-mapping>
		<servlet-name>goodsSportGoods</servlet-name>
		<url-pattern>/goodsSportGoods</url-pattern>
	</servlet-mapping>
	
	 <!-- 零食、图片 -->
	
	<servlet-mapping>
		<servlet-name>goodsSnack</servlet-name>
		<url-pattern>/goodsSnack</url-pattern>
	</servlet-mapping>
	 <!-- 智能设备/图片 -->
	
	<servlet-mapping>
		<servlet-name>goodsSmartDevice</servlet-name>
		<url-pattern>/goodsSmartDevice</url-pattern>
	</servlet-mapping>
	 <!--鞋靴   参数   及图片 -->

	<servlet-mapping>
		<servlet-name>goodsShoes</servlet-name>
		<url-pattern>/goodsShoes</url-pattern>
	</servlet-mapping>
	 <!--电饭煲   参数   及图片 -->
	
	<servlet-mapping>
		<servlet-name>goodsRiceCooker</servlet-name>
		<url-pattern>/goodsRiceCooker</url-pattern>
	</servlet-mapping>
	 <!--户外用品   参数   及图片 -->
	
	<servlet-mapping>
		<servlet-name>goodsOutdoorGoods</servlet-name>
		<url-pattern>/goodsOutdoorGoods</url-pattern>
	</servlet-mapping>
	 <!--其他电器   参数   及图片 -->
	
	<servlet-mapping>
		<servlet-name>goodsOtherElectricAppliance</servlet-name>
		<url-pattern>/goodsOtherElectricAppliance</url-pattern>
	</servlet-mapping> 
	<!--办公文具   参数   及图片 -->
	
	<servlet-mapping>
		<servlet-name>goodsOfficeStationary</servlet-name>
		<url-pattern>/goodsOfficeStationary</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GoodsNourishingHealthAction</servlet-name>
		<url-pattern>/GoodsNourishingHealthAction</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GoodsMotherBabyProductAction</servlet-name>
		<url-pattern>/GoodsMotherBabyProductAction</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GoodsMotherBabyFoodAction</servlet-name>
		<url-pattern>/GoodsMotherBabyFoodAction</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GoodsMobilePhoneAction</servlet-name>
		<url-pattern>/GoodsMobilePhoneAction</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
    <servlet-name>GoodsAgriculturesMachineryAction</servlet-name>
    <url-pattern>/GoodsAgriculturesMachineryAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GoodsAgriculturesUseArticlesAction</servlet-name>
    <url-pattern>/GoodsAgriculturesUseArticlesAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GoodsAgriculturesUseToolsAction</servlet-name>
    <url-pattern>/GoodsAgriculturesUseToolsAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GoodsAgriculturesUseTricycleAction</servlet-name>
    <url-pattern>/GoodsAgriculturesUseTricycleAction</url-pattern>
  </servlet-mapping>
 <servlet-mapping>
    <servlet-name>GoodsAutoApplianceAction</servlet-name>
    <url-pattern>/GoodsAutoApplianceAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GoodsBoxSpringSuiteAction</servlet-name>
    <url-pattern>/GoodsBoxSpringSuiteAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GoodsBrandEndTableAction</servlet-name>
    <url-pattern>/GoodsBrandEndTableAction</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>GoodsCameraAction</servlet-name>
    <url-pattern>/GoodsCameraAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GoodsCameraMonitoredAction</servlet-name>
    <url-pattern>/GoodsCameraMonitoredAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GoodsClangMovieAction</servlet-name>
    <url-pattern>/GoodsClangMovieAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GoodsCleaningAction</servlet-name>
    <url-pattern>/GoodsCleaningAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GoodsComputerAction</servlet-name>
    <url-pattern>/GoodsComputerAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GoodsCostumeAction</servlet-name>
    <url-pattern>/GoodsCostumeAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GoodsDecorateBuildingmaterialsAction</servlet-name>
    <url-pattern>/GoodsDecorateBuildingmaterialsAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GoodsDigiyalAccessoriesAction</servlet-name>
    <url-pattern>/GoodsDigiyalAccessoriesAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GoodsDoorWindowsAction</servlet-name>
    <url-pattern>/GoodsDoorWindowsAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GoodsEarlyEducationEnlightenmentAction</servlet-name>
    <url-pattern>/GoodsEarlyEducationEnlightenmentAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GoodsFitnessEquipmentAction</servlet-name>
    <url-pattern>/GoodsFitnessEquipmentAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GoodsGrainOilTasteAction</servlet-name>
    <url-pattern>/GoodsGrainOilTasteAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GoodsHomeFurnishingArticlesAction</servlet-name>
    <url-pattern>/GoodsHomeFurnishingArticlesAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GoodsHomeTextilesAction</servlet-name>
    <url-pattern>/GoodsHomeTextilesAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GoodsIceboxAction</servlet-name>
    <url-pattern>/GoodsIceboxAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GoodsKitchenAction</servlet-name>
    <url-pattern>/GoodsKitchenAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GoodsLuggageAction</servlet-name>
    <url-pattern>/GoodsLuggageAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GoodsMedicaCareAction</servlet-name>
    <url-pattern>/GoodsMedicaCareAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GoodsMicrowaveOven</servlet-name>
    <url-pattern>/GoodsMicrowaveOven</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GoodsMilkDrink</servlet-name>
    <url-pattern>/GoodsMilkDrink</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GoodsSearch</servlet-name>
    <url-pattern>/GoodsSearch</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GoodsReferCan</servlet-name>
    <url-pattern>/GoodsReferCan</url-pattern>
  </servlet-mapping>

	

</web-app>